@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}
body{
  margin: 40px;
}

.card {
  max-width: 300px;
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 1.5em;
  margin: 0;
  color: #333;
}

.card-description {
  margin-top: 10px;
  color: #666;
  font-size: 0.9em;
}


.studentCard {
  border: 1px solid #666;
  max-width: 300px;
  padding: 10px;
  margin: 10px;
}

hr{
  margin: 40px 0;
  padding: 0;
  width: 100%;
  border: 3px solid #666;
}